.no {
  position: absolute;
  top: 60vh;
  /* right: 43%; */
  /* margin-left: 40px; */
  background-color: red;
  border-radius: 25%;
  padding: 5px 20px;
}

.image {
  display: flex;
  justify-content: center;
}

.yes {
  position: absolute;
  top: 50vh;
  /* right: 53%; */
  /* margin-right: 500px; */
  background-color: green;
  border-radius: 25%;
  padding: 5px 20px;
}

.question {
  position: absolute;
  top: 30vh;
  color: #000;  
}

.message {
  position: absolute;
  top: 40vh;
  display: none;
  color: #fff;
}
/* Styles */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
    width: cover;
  height: cover;
  /* font-size: 4rem; */
  overflow: hidden;
}

.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent
    url("https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
    no-repeat bottom center;
  background-blend-mode: screen;
  background-size: cover;
  animation-name: hue;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(359deg);
  }
}

.page-wrapper {
  text-align: center;
  color: #fff;
  z-index: 1;
}

.page-wrapper h1 {
  position: relative;
}

.page-wrapper h1:before {
  content: attr(string);
  content: content();
  color: green;
  z-index: -1;
  position: absolute;
  animation-name: shiftblur;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes shiftblur {
  from {
    filter: hue-rotate(0deg) blur(20px);
  }
  to {
    filter: hue-rotate(359deg) blur(200px);
    transform: scale(2);
  }
}